.message-inbox{
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: 64px auto;
}
.message-box{
    height: 100vh;
    padding: 0;
    display: grid;
    grid-template-rows: 64px 48px auto  64px;
}
.message-box-header{
    box-shadow: 0 10px 8px #00000020;
    font-size: 18px;
}
.messages-ctn{
    overflow: auto;
    background-color: #22873d20;
}
.received-text > div{
    /* background-color: #f73378; */
    color: white;
    border-radius: 30px;
}
.sent-text > div{
    /* background-color: #5a48a7; */
    color: white;
    border-radius: 30px;
}
form{
    width: 100%;
    padding: 0;
}
.text-input{
    height: 50px;
    width: 100%;
}
.text-input:focus{
    border: 1px solid #2962ff;
}
.inbox-card{
    cursor: pointer;
    background-color: #ffffffbb;
}
.inbox-card:hover{
    background-color: #00000020;
}
.inbox-ctn{
    height: calc(100%);
    overflow: auto;
    max-height: 100%;
}
.message{
    background-color: #22873d20;
    border-radius: 16px;
}
.header{
    background-color: #303030;
    color: white;
    border-bottom: 1px solid;
    position: relative;
}
.input-bar{
    background-color: #eeeeee;
}
.introductoryText{
    box-shadow: 0 2px 8px 0 #00000040;
}